{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="logCtn">
        <h1 class="logTitle">Créer un compte</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username, {
            label: 'Nom d\'utilisateur'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <span style="display:inline-block">
   {{ form_row(registrationForm.agreeTerms) }}
</span>
        <span style="display:inline-block">
            {% for more in mores %}
        <a data-toggle="modal" data-target=".bd-example-modal-lg" href="#">{{more.linkcgu}}</a>
           <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <p>{{ more.cgu|raw }}</p>
    </div>
       {% endfor %}
  </div>
</div>
</span>

        <div class="loginBtn">
            <button type="submit" class="btn ">Créer mon compte</button>
        </div>

        <div class="registerLink">
            <p>Déjà inscrit ? <a class="regLink" href="{{ path('app_login') }}"> Se connecter</a></p>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
