{% extends 'base.html.twig' %}

{% block body %}
    {% for about in abouts %}
        <div class="ctn" id="aboutCtn">
            <article class="aboutArticle">
                <h1 id="aboutTitle" class="bold yellow">{{ about.presentationTitle }}</h1>
                <p id="aboutBody">
                    {{ about.presentationBody }}</p> <br>
                <div class="center">
                    <iframe class="aboutVideo" width="560" height="315" src="{{ about.presentationVideo }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </article>
            <article class="aboutArticle">
                <h1 id="aboutTitle" class="rightTitle bold pink">{{ about.visionTitle }}</h1>
                <section id="vision">
                    <img src="{{ about.visionImg }}" class="aboutImg">
                    <p id="aboutBody" class="visionBody">
                        {{ about.visionBody }}</p>
                </section>
            </article>
            <article class="aboutArticle">
                <h1 id="aboutTitle" class="bold yellow">{{ about.valuesTitle }}</h1>
                <p id="aboutBody">
                    {{ about.valuesBody }}</p>
            </article>
            <article class="aboutArticle">
                <h1 id="aboutTitle" class="aboutServicesTitle bold pink">{{ about.servicesTitle }}</h1>
                <ul class="aboutList">
                    <li class="serviceList">
                        <img class="serviceImg" src="{{ about.localImg }}" alt="Vie de quartier">
                        <p class="serviceListTitle">{{ about.localTitle }}</p>
                    </li>
                    <li class="serviceList">
                        <img class="serviceImg" src="{{ about.messageImg }}" alt="Discussions">
                        <p class="serviceListTitle">{{ about.messageTitle }}</p>
                    </li>
                    <li class="serviceList">
                        <img class="serviceImg" src="{{ about.dealsImg }}" alt="Bons plans locaux">
                        <p class="serviceListTitle">{{ about.dealsTitle }}</p>
                    </li>
                    <li class="serviceList">
                        <img class="serviceImg"
                             src="{{ about.eventImg }}"
                             alt="Evenements">
                        <p class="serviceListTitle">{{ about.eventTitle }}</p>
                    </li>
                    <li class="serviceList">
                        <img class="serviceImg"
                             src="{{ about.helpImg }}">
                        <p class="serviceListTitle">{{ about.helpTitle }}</p>
                    </li>
                    <li class="serviceList">
                        <img class="serviceImg"
                             src="{{ about.giveImg }}">
                        <p class="serviceListTitle">{{ about.giveTitle }}</p>
                    </li>
                </ul>
            </article>
            <article class="join">
                <h1 class="bold yellow" id="aboutTitleJoin">{{ about.communityTitle }}</h1>
                <p id="aboutBody">
                    {{ about.communityBody }}<br>
                    <a class="btn loginBtn" href="{{ path('app_register') }}">Je souhaite m'inscrire !</a> <br>
                <div class="aboutLinksCtn">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <a class="logLink bold" href="{{ path('all_articles') }}#Kids&Family">Voir les publications</a> <br>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <a class="logLink bold" href="{{ path('home') }}">Retour à l'accueil</a>
                </div>
            </article>
        </div>
    {% endfor %}
{% endblock %}
