{% extends 'base.html.twig' %}

{% block body %}
    <div class="ctn">
        <div class="articlesCategory">
            <a href="#Kids&Family">Kids & Family</a><a href="#Ambassadeurs">Les Ambassadeurs</a>
            {% if app.user %}
                <a href="#Help">Venir
                    en aide</a><a href="{{ path('article_new') }}">Ajouter une publication</a>
            {% endif %}
        </div>
        <div class="allArticles">
            <div id="Kids&Family"></div>
            <h4 class="allArticlesNav">Publications de Kids & Family
                {% for article in articles %}
                    {% if article.author.username == "Kids & Family" %}
                        {% for category in article.category %}
                            <a href="#{{ category.id }}">{{ category.name }}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </h4>

            <div class="row">
                {% for article in articles %}
                    {% if article.author.username == "Kids & Family" %}    {# TO DO : OPTIMISER / SECURISER (role admin ?) #}
                        <div class="card articleCard" id="allArticlesCard">
                            <img class="card-img allArticlesImg" src="{{ article.photo }}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <span class="like">
                    <i class="fas fa-heart"></i> J'aime</span>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                {# TO DO : AJOUTER PHOTO DE PROFIL DE L'AUTEUR #} {{ article.author.username }}
                                <div class="commentCtn" id="allCommentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" id="allDetLink"
                               href="{{ path('article_details', {'id': article.id}) }}">Voir la publication</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


            <div id="Ambassadeurs"></div>
            <h4 class="allArticlesNav">Publications des Ambassadeurs
                {% for category in categories %}
                    <a href="#{{ category.id }}">{{ category.name }}</a>
                {% endfor %}
            </h4>

            {% for category in categories %}
                <div class="catId" id="{{ category.id }}"></div>
                <h4 class="catTitle" id="{{ category.id }}">{{ category.name }}</h4>
                <div class="row">
                    {% for article in category.article %}
                        <div class="card articleCard" id="allArticlesCard">
                            <img class="card-img allArticlesImg" src="{{ article.photo }}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <span class="like">
                    <i class="fas fa-heart"></i> J'aime</span>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                {# TO DO : AJOUTER PHOTO DE PROFIL DE L'AUTEUR #} {{ article.author.username }}
                                <div class="commentCtn" id="allCommentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" id="allDetLink"
                               href="{{ path('article_details', {'id': article.id}) }}">Voir la publication</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}


            <div id="Help"></div>
            <h4 class="allArticlesNav">Ils ont besoin d'aide !</h4>
            <div class="row">
                {% for article in articles %}
                    {% if article.needs %}
                        <div class="card articleCard" id="allArticlesCard">
                            <img class="card-img allArticlesImg" src="{{ article.photo }}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <span class="like">
                    <i class="fas fa-heart"></i> J'aime</span>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                {# TO DO : AJOUTER PHOTO DE PROFIL DE L'AUTEUR #} {{ article.author.username }}
                                <div class="commentCtn" id="allCommentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" id="allDetLink"
                               href="{{ path('article_details', {'id': article.id}) }}">Voir la publication</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}
