{% extends 'base.html.twig' %}

{% block body %}
    <div class="ctn">
        <div class="articlesCategory">
            {% for category in categories %}
                <a href="#{{ category.id }}">{{ category.name }}</a>
            {% endfor %}
        </div>

        <div class="allArticles">
            <h4>Kids & Family</h4>
            <div class="row">
                {% for article in articles %}
                    {% if article.author.firstname == "Kids & Family" %}    {# TO DO : OPTIMISER / SECURISER (role admin ?) #}
                        <div class="card articleCard" id="articleCard">
                            <img class="card-img articleImg" src="{{ article.photo }}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <span class="like">
                    <i class="fas fa-heart"></i> J'aime</span>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                {# TO DO : AJOUTER PHOTO DE PROFIL DE L'AUTEUR #} {{ article.author }}
                                <div class="commentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" href="{{ path('article_details', {'id': article.id}) }}">Voir le
                                détail</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {% for category in categories %}
                <h4 id="{{ category.id }}">{{ category.name }}</h4>
                <div class="row">
                    {% for article in category.article %}
                        <div class="card articleCard" id="articleCard">
                            <img class="card-img articleImg" src="{{ article.photo }}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <span class="like">
                    <i class="fas fa-heart"></i> J'aime</span>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                {# TO DO : AJOUTER PHOTO DE PROFIL DE L'AUTEUR #} {{ article.author }}
                                <div class="commentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" href="{{ path('article_details', {'id': article.id}) }}">Voir le
                                détail</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
