{% extends 'base.html.twig' %}


{% block body %}
    <div class="ctn">
        <h1 class="detailsTitle">{{ article.title }}</h1>
        <p class="detailsContent">{{ article.content }}</p>
        <div class="detailsPhotoCtn">
            <img class="detailsPhoto" src="{{ article.photo }}" alt="Illustration Article {{ article.title }}">
            {% if article.photoB %}
                <img class="detailsPhoto" src="{{ article.photoB }}" alt="Illustration Article {{ article.title }}">
            {% endif %}
            {% if article.photoC %}
                <img class="detailsPhoto" src="{{ article.photoC }}" alt="Illustration Article {{ article.title }}">
            {% endif %}
        </div>
    </div>


{% endblock %}
