{% extends 'base.html.twig' %}

{% block body %}
    <div class="ctn detailsCtn">
        <h1 class="detailsTitle">{{ article.title }} <br> <span class="detailsSubtitle grey"> par {{ article.author }} | publié le {{ article.updatedAt|date('d/m/Y') }} {# AJOUTER DATE DANS BDD #}</span>
        </h1>

        <p class="detailsContent">{{ article.content }}</p>
        <div class="detailsPhotoCtn">
            <img class="detailsPhoto" src="{{ vich_uploader_asset(article, 'photoFile')}}" alt="Illustration Article {{ article.title }}">
            {% if article.photoB %}
                <img class="detailsPhoto" src="{{ vich_uploader_asset(article, 'photoBFile')}}" alt="Illustration Article {{ article.title }}">
            {% endif %}
            {% if article.photoC %}
                <img class="detailsPhoto" src="{{ vich_uploader_asset(article, 'photoCFile')}}" alt="Illustration Article {{ article.title }}">
            {% endif %}
        </div>

        {% if article.needs %}
            <div class="needsCtn">
                <h3 class="needsTitle">Nos besoins</h3>
                <p class="needsBody">{{ article.needs }}</p>
                <a class="btn loginBtn" id="helpLink" href="#">Je peux aider !</a>
            </div>
        {% endif %}

        <h3 id="comment" class="commentTitle">Commentaires</h3>
        <div class="articleCommentCtn">
            <div class="detailsComCtn">
                {% for comment in article.comments %}
                    <div class="profileCom">
                        {% if comment.author.avatar %}
                            {% set user = comment.author %}
                            <img id="avatarCom" src="{{ vich_uploader_asset(user, 'avatarFile') }}">
                        {% endif %}
                        <span id="authorCom" class="green"> {{ comment.author }}</span>
                    </div>
                    <p class="grey comment">{{ comment.comment }}</p>
                    <div class="commentMenu">
                        <li class="nav-item dropdown" id="comMenu">
                            <a href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" id="comMenuIcon" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if app.user is same as (comment.author) %}
                                    {% include '/default/_delete_comment.html.twig' %}
                                    <a class="dropdown-item"
                                       href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier</a> {# TO DO : AJOUTER MODIFICATION DE COMMENTAIRE #}
                                {% else %}
                                    <a class="dropdown-item"
                                       href="{{ path('report_comment', {'id': comment.id}) }}">Signaler</a>
                                {% endif %}
                            </div>
                        </li>
                    </div>
                    <hr class="commentLine">
                {% endfor %}
            </div>

            {% if app.user %}
                <h3 class="needsTitle comTitle">Laisser un commentaire</h3>
                {{ form_start(form) }}
                {{ form_label(form.comment, 'Votre message') }}
                {{ form_widget(form.comment) }}
                <button class="loginBtn btn sendComment">{{ button_label|default('Envoyer !') }}</button>
                {{ form_end(form) }}
            {% else %}
                <p>
                    <a class="detailsLink" href="{{ path('app_login') }}"> Connectez-vous
                    </a>
                    pour laisser un commentaire
                </p>
            {% endif %}
        </div>

        <div class="articleSideBar">
            <div class="detailsCatCtn">
                <p class="detailsCat"><i class="fa fa-folder-open" aria-hidden="true"></i>
                    Catégorie(s) : <br>
                    {% for category in article.category %}
                    <span class="detailsCatName">{{ category.name | upper }}</span></p>
                {% endfor %}
            </div>
            <h4 class="needsTitle">Lieu : </h4>
            <p>{{ article.address }}</p>
            <img class="map" src="https://i.postimg.cc/hGhTSc22/map.png"> <br> {# REMPLACER PAR API MAP #}
            <div class="detailsMapLink">
                <a class="detMapLink" href="{{ path('map') }}">Voir la map</a>
            </div>
            <h4 class="needsTitle">Partager : </h4> {# AJOUTER FONCTION DE PARTAGE VERS RESEAU #}
            <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="instagram" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="instagram" href="#"><i class="fa fa-twitter"></i></a>

            {% if article.author != "Kids & Family" %} {# TO DO : OPTIMISER AVEC ROLE ADMIN ? #}
            <div class="report">
                <p class="reportTitle">Contenu inapproprié ?</p>
                <a class="red bold" href="{{ path('report', {'id': article.id}) }}">Signaler cette publication</a>
            </div>
        </div>
        {% endif %}

        {% if article.telephone or article.email or article.website %}
            <div class="articleContact">
                {% if article.telephone %}
                <p class="articleContactBody"><i class="fas fa-phone-alt contactIcon"></i> 0{{ article.telephone }} <br>
                    {% endif %}
                    {% if article.email %}
                        <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                        {{ article.email }} <br>
                    {% endif %}
                    {% if article.website %}
                    <i class="fas fa-globe contactIcon"></i> {{ article.website }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>


{% endblock %}
