{% extends 'base.html.twig' %}

{% block body %}

    <div class="cover">
        <div class="coverLinks">
            <span class="coverCtn">
            KIDS AND FAMILY <br>
            CREATEUR D'EXPERIENCES EN FAMILLE <br>
                {% if app.user %}
                    <a id="coverBtn" class="btn loginBtn" href="#news">Nouveautés</a>
                    <a id="coverBtn" class="btn loginBtn" href="{{ path('contribute') }}">Contribuer</a>
                {% else %}
                    <a id="coverBtn" class="btn loginBtn" href="#a-propos">Découvrir</a>
                    <a id="coverBtn" class="btn loginBtn" href="{{ path('app_register') }}">S'inscrire</a>
                {% endif %}
                </span>
        </div>
    </div>

    {% for homepage in homepages %}
        <div id="a-propos"></div>
        <div class="aboutCtn">
            <div id="about">
                <h2 class="bold">{{ homepage.goalTitle }}</h2> <br>
                <h4 class="aboutBody">
                    {{ homepage.goalBody }}
                </h4>
            </div>
        </div>

        <div id="target">
            <h2 class="bold">{{ homepage.targetTitle }}</h2>
            <div class="row targetCtn">
                <div class="card targetCard">
                    <div class="row" id="targetTitle">
                        <i class="fas fa-users"></i>
                        <h4 class="card-title">{{ homepage.targetTitle1 }}</h4>
                    </div>
                    <img class="card-img targetImg"
                         src="{{ vich_uploader_asset(homepage, 'targetImgFamFile') }}"
                         alt="Photo Famille">
                    <div class="enfant">
                        {{ homepage.targetBody }}
                    </div>

                </div>
                <div class="card targetCard">
                    <div class="row" id="targetTitle">
                        <i class="fas fa-house-user"></i>
                        <h4 class="card-title targetTitle">{{ homepage.targetTitle2 }}</h4></div>
                    <img class="card-img targetImg"
                         src="{{ vich_uploader_asset(homepage, 'targetImgPlaceFile') }}"
                         alt="Photo Famille">
                    <div class="enfant">
                        {{ homepage.targetBody2 }}
                    </div>
                </div>
            </div>
        </div>

        <div class="services">
            <h2 class="bold">{{ homepage.approachTitle }}</h2>
            <h4 class="servicesTitle"><span class="grey">AIDER</span> | <span class="green">RECENSER</span> | <span
                        class="orange">PROPOSER</span></h4> <br>
            <h4 class="servicesBody">{{ homepage.approachBody }}</h4>
            <div class="aboutLink">
                <a class="newsLink" href="{{ path('about') }}">En savoir plus</a>
            </div>
        </div>

        <div id="news"></div>
        <h2 class="newsTitle bold">Nos dernières publications</h2>
        <div class="news">
            {% for article in articles|sort((a,b) => a.updatedAt < b.updatedAt ) %}
                {% if article.isPublished is same as(true) %}
                    {% if article.author.username == "Kids & Family" %}    {# TO DO : OPTIMISER / SECURISER (role admin ?) + BLOQUER A 3 MAX #}
                        <div class="card articleCard" id="articleCard">
                            <img class="card-img articleImg" src="{{ vich_uploader_asset(article, 'photoFile')}}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <a href="{{ path('home_article_like', {'id' : article.id }) }}"
                                   class="btn btn-link js-like text-mauve text-bolder">
                                    {% if app.user and article.isLikedByUser(app.user) %}
                                        <i class="fas fa-thumbs-up"></i>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                    {% endif %}
                                    <span class="js-link-count">{{ article.likes | length }}</span>
                                    {% if app.user and article.isLikedByUser(app.user) %}
                                        <span class="js-link-label">J'AIME</span>
                                    {% else %}
                                        <span class="js-link-label">J'AIME</span>
                                    {% endif %}
                                </a>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory ">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                <div class="profileCard">
                                    {% if article.author.avatar %}
                                        {% set user = article.author %}
                                        <img class="avatarCard" src="{{ vich_uploader_asset(user, 'avatarFile') }}"
                                             alt="Photo du Profil">
                                    {% endif %}
                                    <span id="authorCard">{{ article.author.username }}</span>
                                </div>
                                <div class="commentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" href="{{ path('article_details', {'id': article.id}) }}">Voir le
                                détail</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="newsTitle bold">Les dernières publications de nos
            ambassadeurs</h2>  {# TO DO : OPTIMISER / SECURISER (role user ?) + BLOQUER A 3 MAX #}
        <div class="news">
            {% for article in articles|sort((a,b) => a.updatedAt < b.updatedAt ) %}
                {% if article.isPublished is same as(true) %}
                    {% if article.author.username != "Kids & Family" %}
                        <div class="card articleCard" id="articleCard">
                            <img class="card-img articleImg" src="{{ vich_uploader_asset(article, 'photoFile')}}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <a href="{{ path('home_article_like', {'id' : article.id }) }}"
                                   class="btn btn-link js-like text-mauve text-bolder">
                                    {% if app.user and article.isLikedByUser(app.user) %}
                                        <i class="fas fa-thumbs-up"></i>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                    {% endif %}
                                    <span class="js-link-count">{{ article.likes | length }}</span>
                                    {% if app.user and article.isLikedByUser(app.user) %}
                                        <span class="js-link-label">J'AIME</span>
                                    {% else %}
                                        <span class="js-link-label">J'AIME</span>
                                    {% endif %}
                                </a>
                            </div>
                            {# TO DO : AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory ">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                <div class="profileCard">
                                    {% if article.author.avatar %}
                                        {% set user = article.author %}
                                        <img class="avatarCard" src="{{ vich_uploader_asset(user, 'avatarFile') }}"
                                             alt="Photo du Profil">
                                    {% endif %}
                                    <span id="authorCard">{{ article.author.username }}</span>
                                </div>
                                <div class="commentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" href="{{ path('article_details', {'id': article.id}) }}">Voir le
                                détail</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="newsTitle bold">Ils ont besoin d'aide !</h2> {# TO DO : BLOQUER A 3 MAX #}
        <div class="news">
            {% for article in articles|sort((a,b) => a.updatedAt < b.updatedAt ) %}
                {% if article.isPublished is same as(true) %}
                    {% if article.needs %}
                        <div class="card articleCard" id="articleCard">
                            <img class="card-img articleImg"
                                 src="{{ vich_uploader_asset(article, 'photoFile')}}"
                                 alt="{{ article.title }}">
                            <div class="articleHead">
                                <h5 class="card-title articleTitle">{{ article.title }}</h5>
                                <a href="{{ path('home_article_like', {'id' : article.id }) }}"
                                   class="btn btn-link js-like text-mauve text-bolder">
                                    {% if app.user and article.isLikedByUser(app.user) %}
                                        <i class="fas fa-thumbs-up"></i>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                    {% endif %}
                                    <span class="js-link-count">{{ article.likes | length }}</span>
                                    {% if app.user and article.isLikedByUser(app.user) %}
                                        <span class="js-link-label">J'AIME</span>
                                    {% else %}
                                        <span class="js-link-label">J'AIME</span>
                                    {% endif %}
                                </a>
                            </div>
                            {# TO DO :  AJOUTER SYSTEME DE LIKE #}
                            <div class="row">
                                {% for category in article.category %}
                                    <div class="card-title articleCategory ">{{ category.name }}</div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="bottomCard">
                                <div class="profileCard">
                                    {% if article.author.avatar %}
                                        {% set user = article.author %}
                                        <img class="avatarCard" src="{{ vich_uploader_asset(user, 'avatarFile') }}"
                                             alt="Photo du Profil">
                                    {% endif %}
                                    <span id="authorCard">{{ article.author.username }}</span>
                                </div>
                                <div class="commentCtn">
                                    <section class="iconCard">
                                        <i class="fa fa-commenting-o"></i>
                                        <a class="articleLink"
                                           href="{{ path('article_details', {'id': article.id}) }}#comment">Commenter</a>
                                    </section>
                                    <section class="iconCard">
                                        <i class="fa fa-envelope-o"></i>
                                        <a class="articleLink" href="#">Message Privé</a>
                                    </section>
                                </div> {# TO DO : AJOUTER SYSTEM DE MESSAGE DIRECT #}
                                {# <a  class="stretched-link"  id="articleIdLink" href="#">Voir</a> #}
                            </div>
                            <a class="detailsLink" href="{{ path('article_details', {'id': article.id}) }}">Voir le
                                détail</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="newsLinkCtn">
            <a class="newsLink" href="{{ path('all_articles') }}#Kids&Family">Voir toutes les publications</a>
        </div>

        <div class="eshopCtn">
            <div class="eshop">
                <h2 class="eshopTitle bold">{{ homepage.sectionTitle }}</h2>
                <iframe src="https://giphy.com/embed/1i3ypX170NWbWMGOXV" width="480" height="270" frameBorder="0"
                        class="eshopGif" allowFullScreen>
                </iframe>
                <h4 class="servicesBody">{{ homepage.sectionBody }} </h4>
                <div class="eshopLinkCtn"></div>
                <a class="eshopLink" href="#" target="_blank">Visiter la boutique en ligne</a>
            </div>
        </div>
        </div>

    {% endfor %}

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            document.querySelectorAll(`a.js-like`).forEach(link => {
                link.addEventListener('click', e => {
                    e.preventDefault()
                    var spanCount = link.querySelector(`span.js-link-count`)
                    var spanLabel = link.querySelector('span.js-link-label')
                    var icone = link.querySelector('i')
                    axios.get(link.href)
                        .then(response => {
                            spanCount.textContent = response.data.likes
                            if (icone.classList.contains('fas')) {
                                icone.classList.replace('fas', 'far')
                                spanLabel.textContent = "J'AIME"
                            }
                        }).catch(error => {
                        if (error.response.status === 403) {
                            window.alert("Vous ne pouvez pas liker un article si vous n'êtes pas connecté !")
                        }
                    })
                })
            })
        </script>

{% endblock %}

