<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta lang="fr">
    <meta name="author" content="Nicolas Legrand & Lisa Michel">
    <meta name="description" content="Créateur d'expériences pour la famille ">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}KIDS & FAMILY{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" id="nav-desktop">
    <a class="navbar-brand" id="nav-link" href="#">KIDS & FAMILY</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <i class="fas fa-home navIcon"></i>
                <a id="nav-link" class="nav-link" href="{{ path('home') }}">Home <span
                            class="sr-only">(current)</span></a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <i class="fas fa-user navIcon"></i>
                    <a id="nav-link" class="nav-link" href="{{ path('profile') }}">Mon compte</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <i class="fas fa-shopping-cart navIcon"></i>
                <a id="nav-link" target="_blank" class="nav-link" href="#">E-Shop</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMap" class="nav-link" href="#">La Carte</a>
                </li>
            {% endif %}

            {# <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> #}
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
        <div id="nav" class="col-md-4 col-sm-6 col-xs-12">
            <div class="connexionLink">
                {% if app.user %}
                    <a class="logLink" href="{{ path('app_logout') }}">Se Déconnecter</a>
                {% else %}
                    <a class="logLink" href="{{ path('app_login') }}">Se Connecter</a>
                {% endif %}
            </div>
            <ul class="social-icons">
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" id="nav-mobile">
    <a class="navbar-brand" id="nav-link" href="#">KIDS & FAMILY</a>
    <button id="burger" class="navbar-toggler toggler-example purple white" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41"
            aria-expanded="false"
            aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent41">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a id="navMobile-link" class="nav-link text-center" href="{{ path('home') }}">Home</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="{{ path('profile') }}">Mon
                        Compte</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a id="navMobile-link" class="nav-link text-center" href="#">E-Shop</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="#">La Carte</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="{{ path('app_logout') }}">Se
                        déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="{{ path('app_login') }}">Se
                        connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

<!-- Site footer -->

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>A propos</h6>
                <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the
                    upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or
                    snippets as the code wants to be simple. We will help programmers build up concepts in different
                    programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL
                    and Algorithm.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Catégories</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                    <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Liens</h6>
                <ul class="footer-links">
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">Créer un compte</a></li>
                    {% endif %}
                    <li><a href="#">Nos Valeurs</a></li>
                    <li><a href="#">Contribuer</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">COM LM Kids and Family</a>
                </p>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="https://kit.fontawesome.com/249275cf92.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
{% endblock %}


