{% extends 'base.html.twig' %}


{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    {% if is_granted('ROLE_USER') %}
        <!-- The sidebar -->
        <div class="sidebar">
            <a href="#"><i class="fa fa-info-circle"></i> Information</a>
            <a href="#"><i class="fa fa-fw fa-home"></i> Coordonnées</a>
            <a href="#"><i class="fa fa-mobile"></i> Catégories</a>
            <a href="{{ path('hobbies', {'id': user.id}) }}"><i class="fa fa-heart"></i> Centres d'intérêts</a>
            <a href="{{ path('my_articles', {'id': user.id}) }}"><i class="fa fa-picture-o"></i> Mes publications</a>
            <a href="#"><i class="fa fa-users"></i> Discussion</a>
        </div>
        <!-- dropdown -->
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a href="#"><i class="fa fa-info-circle"></i><li> Information</li></a>
                <a href="#"><i class="fa fa-fw fa-home"></i><li> Coordonnées</li></a>
                <a href="#"><i class="fa fa-mobile"></i><li> Catégories</li></a>
                <a href="{{ path('hobbies', {'id': user.id}) }}"><i class="fa fa-heart"></i><li> Centres d'intérêts</li></a>
                <a href="#"><i class="fa fa-picture-o"></i><li> Mes publications</li></a>
                <a href="#"><i class="fa fa-users"></i><li> Discussion</li></a>
            </div>
        </div>

    {% else %}
        <p class="text-center">Seuls les users peuvent accéder à cette page <br>
            <a href="{{ path('app_login') }}">Connexion</a>
        </p>
    {% endif %}

    {% if app.user %}
        {% if is_granted('ROLE_USER') %}

                <div class="card cardProfile" id="cardProfile">
                    <div class="card-body">
                        <img class="card-img-top imgProfile" src="https://via.placeholder.com/300
C/O https://placeholder.com/" alt="John" style="width:10% ">
                        <h1>{{ user.firstname }} {{ user.lastname }}</h1>
                        <p class="title">{{ user.email }}</p>
                        <p>{{ user.categ }}</p>
                        <p>{{ user.channelnum }}</p>
                        <p>{{ user.complement }}</p>
                        <p>{{ user.namevoie }}</p>
                        <p>{{ user.cp }}</p>
                        <p>{{ user.city }}</p>
                        <p>{{ user.country }}</p>
                        <p>{{ user.phone }}</p>
                        <p>{{ user.mobile }}</p>
                        <p>{{ user.gender }}</p>
                        <p>{{ user.birthday | date }}</p>
                        <p>{{ user.profession }}</p>
                        <p>{{ user.marital }}</p>

                        <p>
                            <button class="btnProfile"><a class="linkProfile" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a></button>
                        </p>
                        <p>
                            <button class="btnProfile"><a class="linkProfile" href="{{ path('app_forgot_password_request') }}">Modifier Mon Mot de passe</a></button>
                        </p>
                    </div>
                </div>

            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
        {% endif %}
    {% endif %}
{% endblock %}
