{% extends 'base_user.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    {% if app.user %}
        {% if is_granted('ROLE_USER') %}

            <div class="card cardProfile" id="cardProfile">
                <div class="card-body">
                    <img class="card-img-top imgProfile" src="{{ user.avatar }}" alt="John">
                    <h1>{{ user.username }}</h1>
                    <p>{{ user.firstname }}  {{ user.lastname }}</p>
                    <p class="title">{{ user.email }}</p>
                    <p>{{ user.phone }}</p>
                    <p>{{ user.mobile }}</p>
                    <p>{{ user.gender }}</p>
                    <p>{{ user.birthday | date }}</p>
                    <p>{{ user.profession }}</p>
                    <p>{{ user.marital }}</p>

                    {# TO DO : AJOUTER SECURITE POUR QUE SEUL LE USER PUISSE MODIFIER SON PROFIL #}
                    <p>
                        <button class="btnProfile"><a class="linkProfile"
                                                      href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes
                                informations</a>
                        </button>
                    </p>
                    <p>
                        <button class="btnProfile"><a class="linkProfile"
                                                      href="{{ path('app_forgot_password_request') }}">Modifier mon mot
                                de passe</a></button>
                    </p>
                </div>
            </div>

        {% else %}
            <tr>
                <td colspan="13">Aucun résultat trouvé</td>
            </tr>
        {% endif %}
    {% endif %}
{% endblock %}
